body{
    background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky-sea_74190-4488.jpg?w=996&t=st=1666591216~exp=1666591816~hmac=beeded3bbe6cc6f9668acf164a00085a31742bf60f603f92dfdb76be6c51645d);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h4{
    font-family: "sans-serif";
    font-size: 18px;
    font-weight: bolder;
    font-style: normal ;
    text-decoration: underline;
}
#hp1 {
    font-family: "open sans";
    font-style: oblique;
    font-variant: small-caps;
}
#hp2{
    font-family: "open sans";
    font-style: oblique;
    font-variant: small-caps;
}
#hp3 {
    font-family: "open sans";
    font-style: oblique;
    font-variant: small-caps;
}
#hp4 {
    font-family: "open sans";
    font-style: oblique;
    font-variant: small-caps;
}